{{> header}}

<main>
  <form class="new-post-form">
    <label for="post-title">Title</label>
    <input type="text" id="post-title" name="post-title">
    
    <label for="post-content">Content</label>
    <textarea id="post-content" name="post-content"></textarea>
    
    <button type="submit">Create Post</button>
  </form>
</main>
